<!DOCTYPE html>
<head>
  <title>Welcome to Presents R Us</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@3.4.21/dist/vue.global.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@1.6.8/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <script type="module" src="/static/index.js"></script>
</head>
<body>
  <div class="container-fluid" id="app">
    <div>
      <label>Username:</label>
      <input type="text" v-model="username">
      <br>
      <label>Password:</label>
      <input type="password" v-model="password">
      <br>
      <button @click="login(username, password)">Login</button>
      <button @click="logout()">Logout</button>
      <p v-if="loggedIn">Logged in as {{ username }}</p>
      <p v-else>Not logged in</p>
    </div>
    <br>
    <div>
      <label>Name:</label>
      <input type="text" v-model="addName">
      <br>
      <label>Link:</label>
      <input type="text" v-model="addLink">
      <br>
      <button @click="add(addName, addLink)">Add</button>
    </div>
    <br>
    <div>
      <label>Search:</label>
      <input type="text" v-model="term">
      <button @click="search(term)">Search</button>
      <table>
        <tr>
          <th>Name</th>
          <th>Link</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr v-for="present in presents">
          <td>{{ present.title }}</td>
          <td>{{ present.link }}</td>
          <td><button @click="editModal(present.presentId)">Edit</button></td>
          <td><button @click="remove(present.presentId)">Delete</button></td>
        </tr>
      </table>
    </div>
    <div v-if="editMode">
      <label>Name:</label>
      <input type="text" v-model="editName">
      <label>Link:</label>
      <input type="text" v-model="editLink">
      <button @click="edit(editId, editName, editLink)">Update</button>
    </div>
  </div>
</body>

